@page
@model FreshFarmMarket.Pages.Errors._503Model
@{
	ViewData["title"] = "Service Unavailable";
}


<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">503</h1>
    <p style="font-size: 50px; ">Service Unavailable</p>
    <p>The server is currently unable to handle the request due to temporary overloading or maintenance of the server.</p>
    <p>Please try again later.</p>
    <p>Return to <a href="https://localhost:7175/Login?ReturnUrl=%2F">Home</a></p>
</div>